.miniDisplay{
    grid-column: span 4; /*quant of columns of this components*/
    background-color: #0008;
    
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
    font-size: 1em;
    overflow: hidden;
}